<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="structuremap" version="2.6.2" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="CommonServiceLocator.StructureMapAdapter" version="1.1.0.2" />
  <package id="Prism" version="4.0.0.0" />
  <package id="Prism.StructureMapExtensions" version="1.0" />
  <package id="Iesi.Collections" version="3.1.0.4000" />
  <package id="NHibernate" version="3.1.0.4000" />
  <package id="Castle.Core" version="2.5.2" />
  <package id="NHibernate.Castle" version="3.1.0.4000" />
  <package id="FluentNHibernate" version="1.2.0.712" />
</packages>